/* DEFAULT STYLES */
html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

/* FORM STYLES */

.clear { clear: both; }

nav, section {
    margin: 0 auto;
    padding: 0px 25px;
    box-sizing: border-box;
}

nav {
    padding: 0px;
    background-color: #007FFF;
}

nav ul {
    list-style: none;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

nav ul li {
    display: inline-block;
    font-weight: 600;
    cursor: pointer;  
    padding: 20px 20px;
}

nav ul li:hover, nav ul li.active  {
    background-color: #00BFFF;
}

nav ul li:hover a, nav ul li.active a {
    color: #FFFFFF;
    text-decoration: none;
}
nav ul li a {
    color: #FFFFFF;
    padding: 20px 20px;
}

nav ul li a:hover {
    text-decoration: none;
}

section {
    max-width: 900px;
    padding: 40px 20px;
}

#email-capture-form label, #email-capture-form input {
    display: block;
    margin: 0px;
}

#email-capture-form input {
    padding: 8px;
    width: 100%;
    border-radius: 5px;
    border: solid 1px #CCC;
    color: #636b6f;
    outline: none;
    font-size: 16px;
}

#email-capture-form .field_error {
    border: solid 1px #99000f;
    background-color: rgba(153, 0, 15, 0.1);
}

#email-capture-form .form_left_column, #email-capture-form .form_right_column {
    float: left;
    width: 50%;
    box-sizing: border-box;
}
#email-capture-form .form_left_column {
    padding-right: 10px;
}
#email-capture-form .form_right_column {
    padding-left: 10px;
}

#email-capture-form .form_single_column {
    clear: both;
    width: 100%;
    padding-top: 20px;
}
#email-capture-form button {
    margin-top: 30px;
    cursor: pointer;
    background: #007FFF;
    color: #FFF;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    transition: background 0.3s;
    outline: none;
}

#email-capture-form button:hover {
    background: #00BFFF;
}

.errors_container {
    padding-top: 20px;
}

.errors_container p {
    padding: 5px;
    color: #99000f;
    margin-bottom: 5px;
}

.errors_container p:before {
    content: '';
    mask: url('../images/error_icon.svg') no-repeat center;
    -webkit-mask: url('../images/error_icon.svg') no-repeat center;
    display: inline-block;
    width: 20px;
    height: 30px;
    background: #99000f;
    top: 10px;
    position: relative;
    margin-right: 10px;
}

.data_list .email_entry {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    border-bottom: solid 1px #FFFFFF;
    word-break: break-all;
}

.data_list .email_entry .entry_content {
    display: flex;
    width: 90%;
}

.data_list .email_entry:nth-child(odd) {
    background-color: #00BFFF;
}
.data_list .email_entry:nth-child(even) {
    background-color: #00AAFF;
}

.data_list .email_entry span  {
    width: 25%;
    padding: 15px 15px;
    box-sizing: border-box;
    color: #FFFFFF;
    font-weight: 600;
}

.data_list .email_entry .name {
    border-right: solid 1px #FFFFFF;
}

.data_list .email_entry .email {
    width: 50%;
    border-left: solid 1px #FFFFFF;
}

.data_list .email_entry form {
    width: 10%;
    padding: 10px 0px;
    text-align: center;
    border-left: solid 1px #FFFFFF;
}
.data_list .email_entry form .delete_entry {
    cursor: pointer;
    mask: url('/images/trash_icon.svg') no-repeat center;
    -webkit-mask: url('/images/trash_icon.svg') no-repeat center;
    background-color: #FFFFFF;
    width: 15px;
    height: 100%;
    display: inline-block;
}

.data_list .email_entry form .delete_entry:hover {
    background-color: #FF0100;
}

@media screen and (max-width: 768px){

    nav ul {
        padding: 0px;
    }

    #email-capture-form .form_left_column, #email-capture-form .form_right_column {
        width: 100%;
    }

    #email-capture-form .form_left_column {
        padding-bottom: 10px;
    }

    #email-capture-form .form_right_column {
        padding-left: 0px;
    }

    .data_list .entry_titles {
        display: none;  
    }

    .data_list .email_entry .entry_content {
        display: block;
    }

    .data_list .email_entry .entry_content, .data_list .email_entry form {
        float: left;
    }

    .data_list .email_entry span  {
        width: 50%;
        float: left;
        display: block;
        margin-right: 0px;
    }

    .data_list .email_entry .email {
        clear: both;
        width: 100%;
        display: block;
        border-top: solid 1px #FFFFFF;
        border-left: none;
    }

}

footer {
    padding:20px;
    text-align: center;
    max-width: 100px;
    border-top: solid 1px #CCCCCC;
    margin-top: 20px;
    margin: 0 auto;
}

footer .github {
    display: inline-block;
    width: 25px;
    height: 25px;
    mask: url('../images/github_icon.svg') no-repeat center;
    -webkit-mask: url('../images/github_icon.svg') no-repeat center;
    background-color: #000000;
}